[submodule "Thunder Request"]
	path = Thunder Request
	url = https://github.com/3sidedcube/iOS-ThunderRequest.git
[submodule "HTML Parser"]
	path = HTML Parser
	url = git@github.com:IBM-Swift/swift-html-entities.git
[submodule "Brightcove"]
	path = Brightcove
	url = git@github.com:brightcove/brightcove-player-sdk-ios.git
